{% extends 'core/base.html' %} 

{% block title %}Notifications{% endblock %}

{% block content %}
<h1 class="header-notification">Notifications</h1>
{% for notification in notifications %}
    <div class="notifications">
        <div class="article-metadata">
            <h2 class="article-title">{{ notification.message }}</h2>
        </div>
        <div>
            <p class="article-content">Posted on: {{ notification.created_at }}</p>
        </div>
        
    </div>
{% endfor %}
{% endblock %} 