{% extends 'core/base.html' %}

{% load static %}

{% block title %}About us{% endblock %}

{% block content %}

<div class="about-header">
    <h5>ABOUT</h5>
    <h1>Making your world a <br>safer place.</h1>
    <p>At KitereSafety, we believe that stronger communities are <br>safer communities. We live in a world where people 
        <br>can access information quickly, share effortlessly, and <br>connect easily--but we have yet to see the power of 
        <br>bringing people together to watch out for each other. <br>At KitereSafety, we're developing cutting edge technology 
        <br>so you can take care of the people and places you <br>love. 
    </p>
</div>

<div class="about-header-flex">
    <div><h1>KitereSafety is on a mission to <br>make your community a safer <br>place.</h1></div>
    <div>
        <h3>We believe in public information for the good of the public.</h3>
        <p>In being able to act on safety alerts in real time. In transparency <br>that bonds and that empowers everyone 
            in a community, from <br>city council to residents.</p>
        <p>We believe in giving people a way to use their phones to protect a <br>neighbor, to prevent a tragedy, and to 
            count on one another.</p>
        <p>And to create a safer world for each other, with each other.</p>
    </div>
</div>


<div class="about-near-footer"> 
    <div><a href="index.html" class="logo">KitereSafety</a></div>
    <!-- family background  -->
    <h1>Build the future of public <br>safety together.</h1>
</div>

<hr class="hr">

{% endblock %}