{% extends 'core/base.html' %}

{% block title %}Careers{% endblock %}

{% block content %} 

<div class="careers-header">
    <h5>CAREERS</h5>
    <h1>A safer world starts <br>with you.</h1>
    <p>Make something that matters. KitereSafety <br>is defining mobile personal safety to make <br>Kitere community a 
        safer place. Can your talents <br>and passion help push us forward?</p>
    <a href="#">FIND THE RIGHT JOB FOR YOU</a>
</div>

<div class="careers-header-flex">
    <h1>A mission we believe in. <br><span>Powered by people who <br>believe in a better world.</span></h1>
    <div>
        <p>Having the right people on your team is crucial when you're <br>building something with a direct impact 
        on people's lives.</p>
        <p>Everything we do at KitereSafety, we do with the big picture <br>in mind. We take the time to make sure 
            candidates fully <br>understand our mission from multiple perspectives. We <br>consider every new hire 
            strategically and thoughtfully. If you <br>feel the same way about looking for job opportunities, we'd <br>love to 
            talk.
        </p>
    </div>
</div>

{% endblock %}