{% extends 'core/base.html' %}

{% block title %}Privacy{% endblock %} 

{% block content %} 
<div class="privacy-body">
    <div class="privacy-header">
        <h1>Privacy at KitereSafety</h1>
        <p>KitereSafety's mission is to make your community a safer place. The same principle applies to your <br>data. 
            Our service depends on you sharing your location with us. By entrusting us with this <br>information, we will 
            not share, sell or otherwise use your data other than in the service of <br>our mission.</p>
    </div>
    
    <div class="privacy-header">
        <h1>Protecting you means <br>protecting your data</h1>
        <p>Our infrastructure was designed to securely store your data. In addition to being <br>regularly tested and 
            verified, we store as little personal data as needed for the shortest <br>duration possible.</p>
        <p>KitereSafety limits access to your data to a small subset of the KitereSafety engineering team. We <br>have specific 
            systems to control data access, and all access is logged and regularly <br>audited. We perform a privacy 
            review for all new features.</p>
    </div>
    
    <div class="privacy-header">
        <h1>Your location only for your safety</h1>
        <p>KitereSafety uses your location data to route real-time safety alerts to you, like a fire in your <br>building, 
            an abducted child or a dangerous situation near you.</p>
        <p>We do not sell your data to third-party service providers or government agencies. We are <br>an independent 
            private company and do not serve ads.</p>
    </div>
</div>


<div class="near-footer">
    <h1>Protect your community.</h1>
</div>

<hr class="hr">

{% endblock %}